*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.success{
    color:green;
    font-size: 14px;
     margin-top: .9rem;
}
.error{
    color: red;
    font-size: 14px;
     margin-top: .9rem;
}
#generated-link{
    margin-top: 1.3rem;
}

.logo{
    color: purple;
    font-size: 1.12rem;
    font-weight: bolder;
    cursor: pointer;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 2.3rem ;
    box-shadow: 0px 2px 10px purple;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2.5rem 3rem;
}
.hero-text-wrapper{
    max-width: 550px;
    display: flex;
    gap: 10px;
    flex-direction: column; 
}
.hero-text{
    color: rgb(136, 1, 136);
    font-size: 2.82rem;
    font-weight: bolder;  
}
.hero-text-bold{
    color: rgb(69, 1, 69);
    font-size: 3.12rem;
    font-weight: 900;
}
.hero-text-wrapper p{
    color: rgb(7, 7, 7);
    font-size: 1.03rem;
}
.hero-text-wrapper #btn{
    align-self: center;
    outline: none;
    border: none;
    background-color: purple;
    padding: 9px 15px;
    border-radius: 10px;
    color: white;
    font-size: 1.03rem;
    font-weight: 800;
    cursor: pointer;
}
.image-container{
    height: 350px;
    width: 350px;
    background-color: purple;
    border-radius: 50%;
    position: relative;
    border: 1px solid black;
}

.hero-image{
    position: absolute;
    height: 300px;
    width: 350px;
    left: -40px;
}

.generator{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: purple;
    margin-bottom: .9rem;
}

.generator-wrapper{
    display: flex;
    align-items: center;
    width: 70%;
}
input{
    width: 100%;
    padding: 8px 15px;
    outline: none;
    border: .4px solid purple;
}
#btn-generate{
    padding: 8px 15px;
    border: 1px solid purple;
    background-color: purple;
    color: white;
}

.benefits{
    margin-top: 3.5rem;
}
.benefits .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem 2rem 2rem;
    gap: 1.2rem;
}
.benefits .cards .card{
    background-color: purple;
    padding: .98rem 1.7rem; 
    cursor: pointer;
    border: .3px solid purple;
}
.benefits .cards .card:hover{
    background-color: white;
    border: .3px solid purple;
    padding: .98rem 1.7rem; 
}
.benefits .cards .card h3{
    font-weight: 800;
    padding: 5px 0;
}
/* .benefits .cards .card p{
    
} */
.footer{
    background-color: rgb(239, 44, 239);
    padding:1.2rem 2.3rem ;
}
.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.top{
    align-self: flex-start;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:60%;
}
.footer-links h6{
    font-size: 1.08rem;
    font-weight: 800;
}
.footer-links ul{
    margin-top: .9rem;
}
ul li{
    list-style-type: none;
    margin: .4rem 0;
}
.footer-bottom{
    margin-top: 1.8rem;
}
.footer-bottom h4{
    text-align: center;
}
@media screen and (max-width:1028px) {
    .hero-text-wrapper{
        max-width: 390px;   
    }
}


@media screen and (max-width:768px) {
    .hero{
        flex-direction: column;
        gap: 1.2rem;
    }
    .hero-text-wrapper{
        max-width: 100%;
    }
    .hero-text{
        text-align: center; 
    }
    .hero-text-wrapper #btn{
       
        padding: 6px 9px;
        
        font-size: .9rem;
        
    }

}

@media screen and (max-width:668px) {
    .benefits .cards{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:420px){
    .image-container{
        height: 320px;
        width: 320px;
        background-color: purple;
        border-radius: 50%;
        position: relative;
        border: 1px solid black;
    }
    
    .hero-image{
        position: absolute;
        height: 290px;
        width: 310px;
        left: -40px;
    }
    .footer-wrapper{
        flex-direction: column;
    }
    .footer-links{
        flex-direction:colum;
        width:100%;
        margin-top: 2rem;
    }
}